<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Identity Labs</title>
  </head>
  <body>
    <h1>User Profile</h1>
    <p><a href="/">Home</a></p>
    <ul>
      <% Object.keys(user).forEach(k => { %>
      <li><strong><%= k%></strong>: <%= user[k] %></li>
      <% }); %>
    </ul>
  </body>
</html>
