<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Identity Labs</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <% if(locals.user) {%>
    <p>Hello <a href="/user"><%= user.name %></a></p>
    <a href="/expenses">Expenses</a>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Login</a>
    <% } %>
  </body>
</html>
