<div class="container">
  <nav
    class="navbar navbar-expand navbar-light"
    style="padding-left: 0; padding-right: 0"
  >
    <a class="navbar-brand" href="#">SPA Lab</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a
            id="expenses-link"
            class="nav-link"
            href="#expenses"
            style="display: none"
          >
            Expenses
          </a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <img
          id="profile-picture"
          style="max-width: 35px; border-radius: 50%; margin-right: 10px"
        />
        <span id="user-fullname" style="margin-right: 10px"></span>
        <button id="log-in" class="btn btn-primary" style="display: none">
          Log In
        </button>
        <button id="log-out" class="btn btn-primary" style="display: none">
          Log Out
        </button>
      </div>
    </div>
  </nav>
</div>
