<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Identity Labs</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <a href="/expenses">Expenses</a>
    <% if (user) { %>
    <div>
      <label><%= user.name %></label>
      <button onclick="window.location = '/logout'">Log out</button>
    </div>
    <%}%>
  </body>
</html>
